.roof {
	background-image: url("dark-triangles.png");
	background-attachment: fixed;
	background-repeat: repeat-x;
	max-width:100%;
	height:250px;	
	color:#d3d3d3;
	display:flex;
	align-items:center;
	font-size:24;
	font-family:Nunito;
	font-weight:200;
	padding-left:10%;
	overflow:hidden;
}

body {
	margin:0px;
	padding:0px;
	font-family:Arimo;
	background-color:#f2f2f2
}

.bold{
	font-weight:800;
	color:white;
}

.navbar {
	font-family:Nunito;
	position:sticky;
	top:0;
	width:100%;
	height:55px;
	padding:0px;
	background-color:#e5e5e5;
	float:left;
	clear:none;
}

.content p:last-child{
	margin-bottom:30px;
}

a{
	text-transform: uppercase;
	font-weight: bold;
	text-decoration:none;
	transition:0.2s;
	transition-timing-function: ease;
}

.button{
	display:inline-block;
	padding:18px;
	margin-left:100px;
	margin-right: 120px;
	color:black;
	box-sizing:border-box;
	max-height:55px;
}

.buttonNext{
	display:inline-block;
	margin:0px;
	padding:18px 18px 18px 18px;
	color:black;
	box-sizing:border-box;
	max-height:55px;
}

.login{
	display:inline-block;
	margin-right:8%;
	padding:18px 18px 18px 20px;
	float:right;
	color:black;
	box-sizing:border-box;
	max-height:55px;
}

a:hover{
	background-color:#b5b5b5;
}

a:visited{
	color:black;
}

.heart{
	width:100%;
	min-height:1220px;
	display:grid;
	grid-row-gap:0px;
	grid-template-columns: 280px auto 330px;
}

.sideTitle{
	font-size:20;	
	margin:5px 0 0 0;
}
.sideTitleB{
	margin:15px 0 0 0;
}

.text{
	 margin:6px 0 0 0;
}

.sideLeft{
	max-width:280px;
	min-height:1200px;
	margin:0;
	float:left;
	clear:none;
	background-color:#d3d3d3;
	padding:10px;
}

.content{
	padding:0 15px;
	margin:0;
}

.sideRight{
	min-height:1200px;
	background-color:#d3d3d3;
	float:right;
	padding:10px;
}

.end{
	max-width:100%;
	height:50px;
	background-color:grey;
}

.backTop{
	display:block;
	text-align:center;
	padding:15px;
	max-width:100%;
	height:20px;
	background-color:#e5e5e5;
}

hr{
	margin: 30px auto;
	width:90%;
	color:#a8aaad;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.68);
}

@media screen and (max-width: 900px) {
	  .home, .button, .buttonNext, .login {
		margin-left:0px;
		background-color:#e5e5e5;
		display:block;
		float:left;
		width:100%;
	  }
	  .navbar{
		  position:static;
		  float:none;
	  }	  
	  .sideLeft, .sideRight{
		  display:none;
	  }
	  .heart{
		  	grid-template-columns: 100%;
	  }
	  .roof{
		  height:170px;
	  }
	  h1{
		  margin:20px 0 10px 0;
		  }

	  
  }
}